---
layout: default.liquid
derp: "A great 72 hour run"
css: "./css/main.css"
---

<h1>Hello There</h1>

{% for blog in collections.blog %}
  <h3>{{ blog.data.title }}</h3>
  <a href="{{ blog.url }}">Read</a>
{% endfor %}
